*{
    box-sizing: border-box;
}
body{
    background-image: black;
    color: white;
}
header{
    text-align: center;
    margin-top: 3rem;
    color: white;
    font-size: 1.6rem;
    text-shadow: 3px 3px 4px cyan;
    animation: colorChanger 1s infinite;
}
@keyframes colorChanger{
    0%{
        text-shadow: 3px 3px 4px cyan,-2px -2px 4px cyan;
    }
    50%{
        text-shadow: 3px 3px 4px crimson,-2px -2px 4px crimson;
    }
    100%{
        text-shadow: 3px 3px 4px purple,-2px -2px 4px purple;
    }
}
section#start{
    
   width: 300px;
   padding: 1.5rem;
   margin:auto;
   background-color: rgba(0,0,255,0.5);
   border: 1px solid white;
   border-radius: 12px;
   box-shadow:4px 3px 7px rgba(0,0,0,0.4),-4px -3px 15px rgba(0,0,0,0.4);
}
#msg {
    color: yellow;
}
#turn{
    text-align: center;
    color: crimson;
    font-size: 1.3rem;
}
h2{
    color: red;
    text-align: center;
}
section#start >div,section#start >h3{
    text-align: center;
    margin: 0.5rem;
}
section#start >div > input,section#start >div > select{
    height: 2.3rem;
    padding: 0.2rem;
    width: 15rem;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 2px 3px 4px blue;
}
section#start >div > select>option{
    background-color:rgba(0,0,255,0.5);
}
::placeholder{
    color: #ffffff;
}
section#start >div > input:focus,section#start >div > button:focus,section#start >div > select:focus{
    outline: none;
}
button{
    padding: 0.5rem;
    width: 15rem;
    cursor: pointer;
    background-color:crimson;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 3px 4px blue;
}
section.grid{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
display: flex;
}
.row .col{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    
    margin:0.1rem;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    box-shadow:2px 2px 6px royalblue ,-2px -2px 6px royalblue;
}
section.hide{
   display: none;
}
#playAgain{
    display: none;
    background-color:royalblue;
    position: relative;
    top: 14.2rem;
    color: white;
    box-shadow:2px 2px 4px rgba(0,0,0,0.4),-2px -2px 4px rgba(0,0,0,0.4);
    width: 10rem;
}
footer{
    display: flex;
    justify-content: center;
    margin-top:2rem ;
    font-size: 1rem;
    font-weight: bolder;
    color: royalblue;
    text-shadow: 3px 3px 4px cyan;
}
.winMsgDesign{
    height: 250px;
    width: 250px;
    padding-top: 1rem;
    background-image: url(win.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: -2rem;
    border-radius: 12px;
    box-shadow:4px 3px 17px white,-4px -3px 34px royalblue;
}